@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/*SCROLLBAR*/

/* Width */
::-webkit-scrollbar {
  width: 7px;
}

/* Background */
::-webkit-scrollbar-track {
  background :#083d77;
}

/*The Scrollbar itself*/
::-webkit-scrollbar-thumb {
  background:#242424;
}

::-webkit-scrollbar-thumb:hover {
  background :#ffffff;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display SC", serif;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo img {
  height: 95px;
}

nav .menu {
  display: flex;
}

nav .menu li a {
  height: 40px;
  line-height: 43px;
  margin: 0;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #585858;
  letter-spacing: 1px;
}

.search {
  width: 250px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}

.search input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search i {
  color: #3a3a3a;
}

nav .menu li a:hover {
  background-color: #242424;
  color: #fff;
  box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
  transition: all ease 0.2s;
}

.port-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin-top: 10vh;
  flex-wrap: wrap;

}
.projects {
  width: 20em;
  background-color: #1b2430;
  color: white;
  border-radius: 1em;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  outline: 2px solid white;
  text-align: center;
}

.projects:hover {
  outline: 3px solid #083d77;
  transition: 0.4s;
}

.desc {
  padding: 2em;
  height: 40vh;
  text-align: left;
  overflow:auto;
}

.img-projects {
  width: 20em;
  height: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.port-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin-top: 10vh;
  flex-wrap: wrap;
}

.portfolio {
  padding: 10em;
}

.portfolio h1 {
  font-size: 54px;
  text-transform: uppercase;
  color: red;
}

.portfolio h2 {
  text-transform: uppercase;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  body, html {
      background-repeat: no-repeat;
      scroll-behavior: smooth;
      scroll-snap-type: none;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
  }
  .port-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
  }
}

.btn{
  background-color: white;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover{
  background-color: #21278b;
  color: white;
  transition: 0.4s;
}